[Unit]
Description=Save STORAGE_DISK env variable to file
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/storage_disk.sh

[Install]
WantedBy=basic.target
